<!-- <div> 
    <img src="https://images.pexels.com/photos/47547/squirrel-animal-cute-rodents-47547.jpeg?cs=srgb&dl=pexels-pixabay-47547.jpg&fm=jpg">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrMbkUgC29Rye4TCMY-R33EVlNv1gV7Sy3VA&s">
     <img src="https://images.pexels.com/photos/47547/squirrel-animal-cute-rodents-47547.jpeg?cs=srgb&dl=pexels-pixabay-47547.jpg&fm=jpg">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrMbkUgC29Rye4TCMY-R33EVlNv1gV7Sy3VA&s">
</div> -->

<form>
    <input type="text">
    <input type="text">
</form>