<!--  --><!-- <h3 ><ins>Birds</ins></h3>
<app-cmp></app-cmp>
<h3 ><ins>Animals</ins></h3>
<app-cmp1></app-cmp1>
<h3 ><ins>Flowers</ins></h3>
<app-cmp2></app-cmp2> -->
<!-- <table>
    <tr>
    <td><app-cmp></app-cmp></td>
    </tr>
    <tr><td><app-cmp1></app-cmp1></td></tr>
    <tr><td><app-cmp2></app-cmp2></td></tr>
</table> -->
<!-- <app-ngmodelgroup></app-ngmodelgroup> -->
<!-- <app-propertybinding-ngclassstyle></app-propertybinding-ngclassstyle> -->
 <!-- <app-communication>
    <h1 class="h"><ins>Animals</ins></h1>
    <ul class="b">
        <li>dog</li>
        <li>elephant</li>
        <li>donkey</li>
        <li>monkey</li>
    </ul>
 </app-communication>
 <app-communication>
    <h1 class="h"><ins>birds</ins></h1>
    <ul class="b">
        <li>sparrow</li>
        <li>pigeon</li>
        <li>parrot</li>
    </ul>
 </app-communication> -->
  <!-- parent to child communication -->
 <!-- <app-communication  (a)="data=$event"></app-communication> -->
 <!-- <input type="text" (input)="in($event)"> -->
<!-- <app-communication (a)="name($event)"></app-communication> -->
<!-- enter in a child component:{{data1.data3}} -->
<!-- <button (click)="sub()"></button> -->
 <!-- <p *ngIf="a; else e">react</p> -->
<!-- <ng-template #e>hi::angular</ng-template> 
{{e}} -->
<!-- {{data}}
  -->

<!-- {{data1.data}}
<P *ngIf="v">{{data1.sub()}}</P> -->
<!-- <app-practicereactiveforms></app-practicereactiveforms> -->
 <!-- <p #e style="color:red">this is angular</p>
 <p #e>this is react</p> -->
 <!-- <ul>
    <li><a routerLink="">home</a></li> 
     <li><a routerLink="/about">about</a></li>
    
 </ul>-->
 <!-- <router-outlet></router-outlet> -->
<!-- <form #e="ngForm">
    <div ngModelGroup="personal"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        #r="ngModelGroup">
    <input type="text" ngModel #c="ngModel" name="name">
    <input  type="text" ngModel #d="ngModel" name="email">
    <button>click</button>
    </div>
    <div ngModelGroup="mobile">
        <input type="number" name="m1" ngModel #m="ngModel">
        <input type="number" name="m2" ngModel #n="ngModel">
     </div>
</form> -->
<!-- <app-pipesprctice></app-pipesprctice>
<app-cmp2></app-cmp2> -->
<!-- <app-ngmodelgroup></app-ngmodelgroup> -->
<!-- <app-practicereactiveforms></app-practicereactiveforms> -->
<!-- <app-propertybinding-ngclassstyle></app-propertybinding-ngclassstyle> -->
<!-- <p appcustome>Custom Directive Example</p>
<button (
click)="check()">click</button>
]]] -->

 <!-- <app-project [count]="count" [ordercount]="ordercount"></app-project>
<router-outlet></router-outlet>  -->
 <div class="centered-container">
    <router-outlet></router-outlet>
  </div>
<!-- <app-cmp></app-cmp> -->
 <!-- <app-buy></app-buy> -->
<!--  -->
 <!-- <app-orders></app-orders> -->

  <!-- <router-outlet></router-outlet> -->