<!-- <p>communication works!</p>
{{data}}
{{data2}}
childcomponent :{{data3}} -->
<!-- <input type="text"  [(ngModel)]="data3"> -->
<!-- <ng-content select=".a"></ng-content>
 <table border="1px solid black" >
    <tr *ngFor="let an of a">
    <td>{{an}}</td>
</tr>
</table>
<ng-content select=".b"></ng-content> -->
<!-- {{emitEvent()}} -->
<li><a rouerLink="">home</a></li>
<li><a routerLink='/about'>about</a></li>
<li><a routerLink="/com">lazy</a></li>
<li><a routerLink='/settings'>settings</a></li>