<!-- <form #contForm="ngForm" (ngSubmit)="onSubmit(contForm)">
    <label for="NAME">name</label>
    <input name="name" type="text" [(ngModel)]="contactData.name" ngModel #name="ngModel">
    <label for="phonenumber">phoneNumber</label>
    <input type="tel" name="phonenumber" [(ngModel)]="contactData.phonenumber" ngModel #phonenumber="ngModel">
    <input type="submit">
</form>
{{contactData.name}}
{{contactData.phonenumber}} --> -->
 <form #e="ngForm" class="my-form" (ngSubmit)="sub(e)">
    <div ngModelGroup="per" #d="ngModelGroup">
    <label>Enter a Name:</label>
    <input type="text" name="name" ngModel #p="ngModel" requried ><br>
    <div  *ngIf="p.touched && !p.dirty" style="color:red">
      name is requried
    </div>
    <div *ngIf="p.dirty">
       <div *ngIf="d?.errors?.['patternname']" style="color:red">
       only all uppercase letters
       </div>   
    </div>
    </div>
    <label>Enter Telugu marks:</label>
    <input type="number" name="telugu" ngModel #t="ngModel" requried ><br>
    <div  *ngIf="t.touched && !t.dirty" style="color:red">
      name is requried
    </div>
    <div *ngIf="t.dirty">
       <div *ngIf="e.errors?.['pattern']" style="color:red">
       only all uppercase letters
       </div>   
    </div>
    <label>Enter English marks:</label>
    <input type="number" name="english" ngModel><br>
    <label>Enter Maths marks:</label>
    <input type="number" name="maths" ngModel ><br>
    <label>Enter Science marks:</label>
    <input type="number" name="science" ngModel ><br>
    <input type="submit" #w>
    <button (click)="reset()">reset</button>
    <button (click)="ert(e)">click</button>
</form>
<table border="1px solid black" style="border-collapse:collapse;" *ngIf="obj1.length>0">
    <thead>
      <tr>
        <th>name</th>
        <th *ngFor="let sub of obj1[0].allmarks">{{ sub.subject }}</th>
        <th>total marks</th>
        <th>percentage</th>
        <th>grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of obj1">
        <td>{{ i.name }}</td>
        <td *ngFor="let j of i.allmarks">{{ j.marks }}</td>
        <td>{{ fun(i.allmarks) }}</td>
        <td>{{ per(i.allmarks) }}%</td>
        <td>{{ grade(i.allmarks) }}</td>
      </tr>
    </tbody>
  </table>