<!-- <form  #h="ngForm"(ngSubmit)="sub(e)">
   <label>email</label> <input type="email" ngModel requried name="email" #e=ngModel><br>
   <p *ngIf="e.touched && !e.dirty" style="color: red;">email is requried</p>
    <label>password</label> <input type="pssword" ngModel minlength="4" name="pasword" #p="ngModel"><br>
    <p *ngIf="p.touched && p.status=='INVALID'" style="color: red;">minimum four charcters</p>
    <p *ngIf="p.touched && !p.dirty" style="color: red;">password is requried</p>
    <input type="submit" [disabled]="h.status=='INVALID'">
</form>
<p>{{h.status}}</p>
 -->
thulasi
